.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: rgb(46, 10, 10); */
  background: #000000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#canvas{
  background-color: #000000;
  border-radius: 20px;
  cursor: none;
  border: 2px solid lime;
}
.GameStartWindow{
  position: absolute;
  z-index: 9999;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
}
.GameStartWindow button{
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  color: lime;
  background: transparent;
  border: 2px solid lime;
  border-radius: 10px;
  padding: 1em;
  cursor: pointer;
}
.GameStartWindow .GameStartInner{
  border: 2px solid lime;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  background: black;
  border-radius: 20px;
  color: lime;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.ghLink {
  margin-bottom: 2em;
}
.ghLink a{
  color: lime;
  text-decoration: none;
}
.ghLink a i{
  font-size: 1.5em;
}